body {
  overflow: hidden;
  margin: 0;
}
.page {
  background: url("https://i.pinimg.com/564x/b6/18/aa/b618aa982a50ecb4da3cf2782a5ba27f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.7) !important;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page img {
  width: 220px;
  height: 200px;
  transform: scale(0.95);
  transition: all 0.4s;
}
.page img:hover {
  transform: scale(1);
  transition: all 0.4s;
}
.page h1 {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 5%;
  /* text-shadow: 4px 2px 4px rgba(0,0,0,0.59); */
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.62);

  margin-block-start: 0;
  margin-block-end: 0;
}

.page p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 10px 250px;
}
.page a {
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 14px;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
.message {
  margin-top: -45px;
}
.social {
  padding-right: 30px;
}
.social a {
  font-size: 28px;
  padding: 0 10px;
}
.social a:hover {
  color: #f9c648;
}
.call {
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
}
